<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<body>
<th:block th:fragment="delete">
  <script> window.jdenticon_config={replaceMode:"observe"};</script>
  <script th:inline="javascript">
    let deleteReplyBtn = {
      deleteReply: function (replyId) {
        let param = {
          replyNum: replyId
        };
        $.ajax({
          type: "Delete",
          url: "/reply/delete",
          data : param,
          success: function (flag) {
            $(`#replyDiv`).load(location.href+` #replyDiv`);
            $(`#replyUpdate${replyId}`).modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
          },
        })
      },
    }
  </script>
</th:block>
</body>
</html>