<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<body>
<th:block th:fragment="update">
  <script> window.jdenticon_config={replaceMode:"observe"};</script>
  <script th:inline="javascript">
    let updateReplyBtn = {
      updateReply: function (replyId) {
        let comment = $(`#updateReplyComment${replyId}`).val();
        let param = {
          replyNum: replyId,
          replyComment : comment
        };
        $.ajax({
          type: "POST",
          url: "/reply/update",
          data : param,
          success: function z(flag)
          {
            $(`#replyDiv`).load(location.href+` #replyDiv`);
            // $("replyButton").on(click , function (e) {
            //   $(`#replyDiv`).load(location.href);
            // });
            $(`#replyUpdate${replyId}`).modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            // $(`#replyButton`).click();
          },
        })
      },
    }
  </script>
<!-- identicon -->
<script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
        integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M" crossorigin="anonymous">
</script>
<script src='//cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.7.0/js/md5.min.js'></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/identicon.js/2.3.3/identicon.min.js"></script>
</th:block>
</body>
</html>