<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<body>
<th:block th:fragment="update">
  <script> window.jdenticon_config={replaceMode:"observe"};</script>
  <script th:inline="javascript">
    let updateReplyBtn = {
      updateReply: function (replyId) {
        let comment = $(`#updateReplyComment${replyId}`).val();
        let param = {
          replyNum: replyId,
          replyComment : comment
        };
        $.ajax({
          type: "PUT",
          url: "/reply/update",
          data : param,
          success: function z(flag)
          {
            $(`#replyDiv`).load(location.href+` #replyDiv`);
            $(`#replyUpdate${replyId}`).modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
          },
        })
      },
    }
  </script>
</th:block>
</body>
</html>