<!DOCTYPE html>

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<template id="reply_async_template" th:fragment="reply_async">
    <li class="main-comments">
        <form method="post">
            <div class="each-comment">
                <div class="post-header">
                    <div class="media">
                        <div class="user-img">
                            <img data-jdenticon-value="{nickname}" width="40" height="40"
                                 class="rounded-circle identicon" data-id="{nickname}"></img>
                        </div>
                            <!--reply post async-->
                        <div class="media-body">
                            <div class="user-title">
                                <a>{nickname}</a>
                            </div>
                            <ul class="entry-meta">
                                <li class="meta-time">{replyTime}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-expanded="false">
                            ...
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="icofont-comment dropdown-item" data-toggle="modal" data-target="#replyUpdate${id}"><span class="ml-1">수정</span></a>
                            <a class="icofont-delete-alt dropdown-item" data-toggle="modal" data-target="#replyDelete${id}"><span class="ml-1">삭제</span></a>

                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="replyUpdate${id}" tabindex="-1" role="dialog" aria-labelledby="replyModalCenterTitle${id}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <form id="replyUpdateForm${id}">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="replyModalLongTitle${id}">댓글 수정하기</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="text" id="updateReplyComment${id}" value="{comment}" class="form-control w-75" placeholder="댓글을 입력해 주세요.">
                                        </div>
<!--                                        <small class="form-text text-danger fieldError" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</small>-->
<!--                                        <small class="form-text text-danger fieldError" value="{error}">title Error</small>-->

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                            <button type="button" class="btn btn-primary" onclick="updateReplyBtn.updateReply(${id})">변경하기</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="replyDelete${id}" tabindex="-1" role="dialog" aria-labelledby="replyDeleteModalCenterTitle${id}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="replyDeleteLongTitle${id}">댓글 삭제</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        삭제된 댓글은 복구할 수 없습니다.<br>
                                        정말 삭제하시겠습니까?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                        <button type="button" class="btn btn-danger" onclick="deleteReplyBtn.deleteReply(${id})">삭제</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-body">
                    <p>{comment}</p>
                </div>
                <div class="post-footer">
                    <ul>
                        <li class="post-react">
                            <a class="text-dark" onclick="addReplyLike.modifyReplyLike(${id})">
                                <i class="icofont-thumbs-up"></i>추천
                                <span id="replyLike${id}" class="badge rounded-pill bg-primary text-white ml-1">
                                    {likeCount}</span>
                            </a>
                        </li>
<!--                        <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>-->
                    </ul>
                </div>
            </div>
        </form>
    </li>
</template>
</html>